@model StoryModel
@if (Model.Editing)
{
    <div class="alert alert-@Model.Color adding-new-story" role="alert" id="story-content-@Model.Id" >
        <form id="story-form-@Model.Id">
            <div id="new-story-ui">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Color" />
                <input type="hidden" asp-for="Order" />
            
                    <strong>N° @Model.Order</strong><br />
                    context:<select asp-items="@Model.Contexts" asp-for="ContextId" class="form-control">
                        <option value="">--context--</option>
                    </select>
                    as an <select asp-items="@Model.Actors" asp-for="ActorId" class="form-control actor-change" data-id="@Model.Id">
                        <option value="">--actor--</option>
                    </select>, I want be able to <textarea asp-for="@Model.What" class="form-control" placeholder="what?"></textarea>
                    in order to <textarea asp-for="@Model.Why" class="form-control" placeholder="why?"></textarea>
                    <hr />
                    <a href="#" class="edit-story" data-target="#story-view-@Model.Id" data-id="@Model.Id">edit</a> |
                    <a href="#" class="cancel-edit-story" data-target="#story-view-@Model.Id" data-id="@Model.Id">cancel</a>  
            </div>
        </form>
    </div>
}
else
{
    <div class="col-sm-12 col-md-4 " id="story-@Model.Id">
        <div class="alert alert-@Model.Color adding-new-story" role="alert" id="story-content-@Model.Id">
            <form id="story-form-@Model.Id">
                <div id="new-story-ui">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Color" />
                    <input type="hidden" asp-for="Order" />

                    <strong>N° @Model.Order</strong><br />
                    context:<select asp-items="@Model.Contexts" asp-for="ContextId" class="form-control">
                        <option value="">--context--</option>
                    </select>
                    as an <select asp-items="@Model.Actors" asp-for="ActorId" class="form-control">
                        <option value="">--actor--</option>
                    </select>
                    , I want be able to <textarea asp-for="@Model.What" class="form-control" placeholder="what?"></textarea>
                    in order to<textarea asp-for="@Model.Why" class="form-control" placeholder="why?"></textarea>
                    <hr />
                    <a href="#" class="add-story" data-target="#story-@Model.Id" data-id="@Model.Id">save</a> |
                    <a href="#" class="cancel-add-story" data-target="#story-@Model.Id">cancel</a>

                </div>
            </form>
        </div>
    </div>
}
