@model StoryItemModel
@{
    if (Model.ActorColor == null)
    {
        Model.ActorColor = "primary";
    }

}
@if (Model.AfterEditing)
{
    <div class="alert alert-@Model.ActorColor story-view" role="alert">
        <div class="context text-right">
            <div class="story-number">
                <strong>N° @Model.Order:</strong>
            </div>
            <div>
                <i>@Model.Context</i>
            </div>
        </div>
        as an <strong><i>@Model.Actor</i></strong>,
        <br />
        I want to be able to <i>@Model.What</i> in order to <i>@Model.Why</i>

        <partial name="_Commands" for="@Model">

    </div>
}
else
{
    <div class="col-sm-12 col-md-4" id="story-view-@Model.Id">
        <div class="alert alert-@Model.ActorColor story-view" role="alert">
            <div class="context">
                <div class="story-number text-left">
                    <strong>N° @Model.Order:</strong>
                </div>
                <div class="text-right">
                    <i>@Model.Context</i>
                </div>
            </div>
            as an <strong><i>@Model.Actor</i></strong>,
            <br />
            I want to be able to <i>@Model.What</i> in order to <i>@Model.Why</i>
            <partial name="_Commands" for="@Model">

        </div>
    </div>
}


