@page
@model UsersStories.Pages.Actors.IndexModel

<p>
    <a asp-page="Create">add new </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actor[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Actor) {
        <tr class="alert-@item.Color">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-right">
                <a asp-page="./Edit" asp-route-id="@item.Id">edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
