@page
@model UsersStories.Pages.Contexts.IndexModel

<p>
    <a asp-page="Create">add new context</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contexts[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contexts[0].Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contexts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">edit</a> |                
                <a asp-page="./Delete" asp-route-id="@item.Id">delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
